doctype
html
 head 
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(rel="stylesheet" href="/css/update-style.css")
  title Document
 body
  div.main-div
    .first-div 
      div.update-div
        form(action=dest+id method="POST") 
          div.id-div.form-input
            label(for="id") Id: 
            input(type="text" disabled id="id" name="id" value=obj1.id) 
          div.name-div.form-input
            label(for="name") Name: 
            input(type="text" id="name" name="name" value=obj1.name) 
          div.city-div.form-input
            label(for="City") City: 
            input(type="text" id="City" name="city" value=obj1.city) 
          div.toar-div.form-input
            label(for="toar") Toar: 
            select( type="text" id="Toar" name="toar" value="MA") 
              if obj1.toar == 'ba'
                option(value="ba" selected) BA
              else 
                option(value="ba") BA
              if obj1.toar == 'ma'
                option(value="ma" selected) MA
              else 
                option(value="ma") MA
              if obj1.toar == 'phd'
                option(value="phd" selected) PhD
              else 
                option(value="phd" ) PhD
            input(type="submit" value="Update student")
      .add-course-div 
        form(action=baseUrl+"/update/"+id+"/addcourse" method="POST") 
          label(for="courseId") Course id: 
          input(type="text"  id="courseId" name="cid" value="") 
          label(for="grade") Grade: 
          input(type="text" id="grade" name="grade" value="") 
          input(type="submit" value="Add course")
          a(href="/student") List students
    .second-div 
      .table-div 
        table 
          th 
            td course 
            td grade 
          each item, i in obj1.courses
            tr
              td=item.cid 
              td=item.grade 
    
    